/* Cole Breen 8939986 */
body{
    Width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font: 1rem Arial, sans-serif;
    padding: 5rem;
}
.Name{
    border: 5px solid orange;
    border-radius: 25px;
    padding: 0rem;
    margin: 0rem;
}
h1{
    font-variant: small-caps;
    color: blue;
}
h2{
    font-variant: small-caps;
    color: blue;
}
footer p{
    font-size: 10px;
    color: blue;
}
main{
    width: 730px;
    padding: 1rem;
    margin: 1rem;
    display: grid;

}
aside{
    width: 20rem;
    height: 50rem;
    padding: 1rem;
    margin: 1rem;
    float: right;
    background: url('/images/gretzky.jpeg') no-repeat center; 
    
}
footer{
    border: 5px solid orange;
    border-radius: 25px;
    padding: 1rem;
    clear: both;
}
.jpg{
    border: 5px solid orange;
}
figcaption{
    font-style: bold;
    font-variant: small-caps;
}
q{
    font-family: cursive;
    font-style: italic;
    font-size: 1.8rem;
}
ul li{
    list-style-type: none;
    line-height: 1.5;
    
}
ul > li a{
    text-decoration: none;
    color: orange;
    
}
a:hover{
    color: blue;
}

